<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-tablet">
            <div class="main-header-top-mobile">
                <img src="images/logo-mercado-liebre.svg" class="logo" alt="Logo de Mercadoliebre">
                <div class="form" action='#' method="GET">
                    <div class="input">Buscar productos, marcas y más
                        <div class="submit"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div> 

        <a href="#" class="burger-button">
            <i class = "fa fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <!-- <div>
            <img src="images/img-home-banner.jpg" alt="Banner_publicitario" width= 100%>
        </div> -->
    </header>

    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-formulario">
            <label for="">Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label for="">Precio:</label>
            <input type="text" name="precio" class="control">
        </div>
        <div class="control-formulario">
            <label for="">Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label for="">Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label for="">Descripción:</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label for="">Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>

        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Guardar</button>
    </form>
    
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, accusamus modi non doloribus distinctio fuga quas beatae nemo saepe minima est repellat. Nisi quidem vero alias velit? Odit, illo quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, accusamus modi non doloribus distinctio fuga quas beatae nemo saepe minima est repellat. Nisi quidem vero alias velit? Odit, illo quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, accusamus modi non doloribus distinctio fuga quas beatae nemo saepe minima est repellat. Nisi quidem vero alias velit? Odit, illo quidem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, accusamus modi non doloribus distinctio fuga quas beatae nemo saepe minima est repellat. Nisi quidem vero alias velit? Odit, illo quidem.</p>

    <article class="product">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10">
        <h2>Samsung galaxy S10</h2>
    </article>
    <article class="product">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10">
        <h2>Samsung galaxy S10</h2>
    </article>
    <article class="product">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10">
        <h2>Samsung galaxy S10</h2>
    </article>
</body>
</html>